::ng-deep {
	.main {
		.table-utilisateur {
			max-width: 90%;
			margin: 0 auto;

			td {
				padding-left: 0.2rem !important;
				padding-right: 0.2rem !important;

				&.code, &.contact {
					text-align: center;
				}

				.actions {
					grid-template-columns: repeat(3, 1fr);
				}
			}

			.colgroup-code {
				width: 5%;
			}

			.colgroup-nom {
				width: 10%;
			}

			.colgroup-prenoms {
				width: 15%;
			}

			.colgroup-contact {
				width: 12%;
			}

			.colgroup-email {
				width: 22%;
			}

			.colgroup-role {
				width: 10%;
			}

			.colgroup-entreprise {
				width: 9%;
			}

			.colgroup-equipe {
				width: 15%;
			}

			.colgroup-actions {
				width: 5%;
			}
		}
	}
}
